<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">wula.js</h2>
      <h1>
        一个小巧、高效的<br>PHP框架
      </h1>
      <p>
        <a class="button" href="<%- url_for("/guide/") %>">起步</a>
        <a class="button white" href="https://github.com/ninggf/wula" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>易用</h2>
      <p>composer支持，大量第三方包尽情享用；Cookie、Session、Cache、ORM开箱即用！</p>
    </div>

    <div class="point">
      <h2>灵活</h2>
      <p>简单小巧的核心, 强大的模块、插件机制, 足以应付任何规模的应用.</p>
    </div>

    <div class="point">
      <h2>性能</h2>
      <p>
        APC, XCache运行时缓存<br>
        所见即所得的URL路由<br>
        高效安全的数据库操作
      </p>
    </div>
  </div>
</div>

<div id="footer">
   遵循<a href="https://opensource.org/licenses/MIT" href="_blank"> MIT 开源协议</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> Wula Team
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
