<li><a href="<%- url_for("/guide/") %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">文档</a></li>
<li><a href="<%- url_for("/api/") %>" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>